@import "./fonts/stylesheet.css";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "West", sans-serif;
  font-size: 20px;
  color: #000;
  line-height: 27px;
  font-weight: 500;
  background: #fff;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 700;
  font-size: 120px;
}

p.sm {
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
}

main {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 110px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 116px;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__inner-logo#headerLogo {
  opacity: 0;
}
.header__inner-logo#headerLogo.active {
  opacity: 1;
}
.header__inner-logo img {
  width: 100%;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: rgba(0, 100, 131, 0.8);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.nav.active {
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.nav__inner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  padding: 20px;
  overflow-y: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.nav__inner a {
  padding: 5px;
  color: #fff;
  font-weight: 300;
}
.nav__inner li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner li:last-child :last-child {
  margin: 0;
}

.burger {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  position: relative;
  width: 55px;
  height: 40px;
  z-index: 9;
}
.burger:hover {
  opacity: 0.8;
}
.burger::before {
  top: 0%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: 3px;
}
.burger span {
  top: 35%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
}
.burger span:last-of-type {
  top: 65%;
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
}
.burger p {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
}
.burger p.close {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.burger::after {
  bottom: 0%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: 3px;
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active span {
  opacity: 0;
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
}
.burger.active p {
  opacity: 0;
}
.burger.active p.close {
  opacity: 1;
}

h2 {
  font-size: 29px;
  line-height: 38px;
  color: #000;
  font-weight: 800;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  padding: 9px 28px;
  width: 70%;
}
table td:nth-child(2) {
  width: 30%;
}
table tbody tr {
  position: relative;
}
table tbody tr:nth-child(even):after {
  display: none;
}
table tbody tr:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.intro__inner {
  padding-top: 100px;
}
.intro__inner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 12px 15px 25px;
  background-color: #F0F0F0;
  margin-bottom: 50px;
}
.intro__inner-info h2 {
  margin-bottom: 42px;
}
.intro__inner-info-image {
  width: 50%;
  max-width: 300px;
  margin-left: 100px;
}
.intro__inner-info-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.list h2 {
  margin-bottom: 56px;
}

.faq__inner .faqItem__button {
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background-color: #006483;
  color: #fff;
}
.faq__inner .faqItem__button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}
.faq__inner .faqItem__button span {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  right: 23px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.faq__inner .faqItem__button span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.faq__inner .faqItem__content {
  padding: 106px 28px 20px;
  background-color: #C5D0D5;
}
.faq__inner .faqItem__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 166px;
}
.faq__inner .faqItem__content-info p {
  width: calc(50% - 20px);
  max-width: 670px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.faq__inner .faqItem__content-info-image {
  width: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -28px;
}
.faq__inner .faqItem__content-info-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.faq__inner .faqItem__content h2 {
  margin-bottom: 74px;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 44px;
}
.gallery__row:last-child {
  margin-bottom: unset;
}
.gallery__row:first-child {
  margin-bottom: 122px;
}
.gallery h3 {
  padding: 9px 28px;
  font-weight: 500;
  background-color: #006483;
  margin-bottom: 32px;
  color: #fff;
}
.gallery .galleryItem {
  width: calc(33.3% - 19px);
}
.gallery .galleryItem__image {
  position: relative;
  width: 100%;
  padding-bottom: 62%;
  margin-bottom: 10px;
}
.gallery .galleryItem__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.gallery .galleryItem a {
  color: #000;
  font-size: 13px;
}
.gallery.sm .gallery__row {
  margin-bottom: 26px;
}
.gallery.sm .gallery__row:last-child {
  margin-bottom: unset;
}
.gallery.sm .gallery__row .galleryItem {
  width: calc(33.3% - 30px);
}
.gallery.sm .gallery__row .galleryItem__image {
  padding-bottom: 64%;
  margin-bottom: unset;
}

.info__inner-text {
  max-width: 1000px;
  margin-bottom: 55px;
}
.info__inner-text h2 {
  margin-bottom: 40px;
}

.hero {
  background: url("../images/main.jpg") no-repeat center;
  background-size: cover;
}
.hero.journey {
  background: url("../images/main-3.jpg") no-repeat center;
  background-size: cover;
}
.hero.active .hero__bg {
  opacity: 1;
}
.hero__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hero__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}
.hero__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 266px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hero__inner-logo.active {
  opacity: 0;
}
.hero__inner-logo img {
  width: 100%;
}
.hero__inner p {
  position: absolute;
  z-index: 9;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}