.hero {
    background: url("../images/main.jpg") no-repeat center;
    background-size: cover;

    &.ship {
        background: url("../images/main-2.jpg") no-repeat center;
        background-size: cover;
    }

    &.journey {
        background: url("../images/main-3.jpg") no-repeat center;
        background-size: cover;
    }

    &.active {
        .hero__bg {
            opacity: 1;
        }
    }

    &__bg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .3s ease;

        img {
            @include fullImage;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 266px;
            transition: .3s ease;

            &.active {
                opacity: 0;
            }

            img {
                width: 100%;
            }
        }

        p {
            position: absolute;
            z-index: 9;
            bottom: 4%;
            left: 50%;
            transform: translateX(-50%);
            color: $white;
            width: 195px;
        }
    }
}
// 1180px
@mixin hero-xlg-xxlg {
    .hero {
        &__inner {
            &-logo {
                width: 230px;
            }
        }
    }
}

// 1024px
@mixin hero-lg-xlg {
    .hero {
        &__inner {
            &-logo {
                width: 200px;
            }
        }
    }
}



// 540px
@mixin hero-xsm-sm {
    .hero {
        &__inner {
            &-logo {
                width: 170px;
            }
            p {
                font-size: 15px;
                line-height: 18px;
                width: 175px;
            }
        }
    }
}



.about {
    padding: 300px 0 110px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        &-content {
            width: calc(50% - 30px);
            max-width: 660px;
        }

        &-image {
            width: calc(50% - 30px);
            max-width: 660px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }

        h2 {
            width: 100%;
            margin-bottom: 48px;
        }

        p {
            font-weight: 300;
        }
    }
}
// 1180px
@mixin about-xlg-xxlg {
    .about {
        padding: 250px 0 90px;
        &__inner{ 
            &-content {
                width: calc(50% - 15px);
            }
            &-image {
                width: calc(50% - 15px);
            }
            h2 {
                margin-bottom: 30px;
            }
        }
    }
}

// 1024px
@mixin about-lg-xlg {
    .about {
        padding: 190px 0 70px;
        &__inner{ 
            &-content {
                width: calc(50% - 10px);
            }
            &-image {
                width: calc(50% - 10px);
            }
            h2 {
                margin-bottom: 20px;
                font-size: 26px;
                line-height: 34px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}

// 930px
@mixin about-md-lg {
    .about {
        padding: 150px 0 60px;
        &__inner {
            h2 {
                margin-bottom: 15px;
                font-size: 22px;
                line-height: 30px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
// 840px
@mixin about-md-lg-extra {
    .about {
        padding: 110px 0 50px;
        &__inner {
            p {
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}
// 750px
@mixin about-sm-md {
    .about {
        padding: 50px 0;
        &__inner {
            &-content {
                width: 100%;
                max-width:  unset;
            }
            &-image {
                width: 100%;
                max-width: unset;
                order: -1;
                margin-bottom: 20px;
            }
            h2 {
                margin-bottom: 10px;
            }
            p{ 
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}


// 540px
@mixin about-xsm-sm {
    .about {
        padding: 30px 0; 
        h2 {
            margin-bottom: 6px;
            font-size: 20px;
            line-height: 24px;
        }
        p{ 
            font-size: 15px;
            line-height: 19px;
        }
    }
}
.faq {
  &Item {
    margin-bottom: 27px;

    &:last-child {
      margin-bottom: 0;
    }

    &__button {
      padding: 10px 28px;
      display: flex;
      justify-content: space-between;
      position: relative;
      background-color: $primary;
      color: $white;
      cursor: pointer;
      &.tabBtn {
        &.active {
          span {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
      &-text {
        display: flex;
        justify-content: space-between;
        width: 80%;
      }
      p {
        &:last-child {
          margin-left: 15px;
        }
      }

      span {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 23px;
        transform: translateY(-50%);
        transition: 0.3s ease;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &__content {
      background-color: $lightBlue;
      padding: 106px 28px 20px;

      &.tabEvent {
        display: none;
        transition: 0.6s ease;

        &.active {
          display: block;
        }
      }
      &-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 166px;

        p {
          width: calc(50% - 20px);
          max-width: 670px;
          font-weight: 300;
          letter-spacing: 0.5px;
        }

        &-image {
          width: calc(50% - 20px);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: -28px;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }

      h2 {
        margin-bottom: 74px;
      }
    }
  }
}
// 1180px
@mixin faq-xlg-xxlg {
  .faq {
    &Item {
      &__content {
        padding-top: 80px;
        &-info {
          margin-bottom: 130px;
        }
      }
    }
  }
}

// 1024px
@mixin faq-lg-xlg {
  .faq {
    &Item {
      &__button {
        span {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
// 930px
@mixin faq-md-lg {
  .faq {
    &Item {
      &__content {
        padding: 60px 15px 20px;
        h2 {
          margin-bottom: 50px;
        }
        &-info {
            margin-bottom: 100px;
          P {
            width: calc(50% - 5px);
            font-size: 16px;
            line-height: 24px;
          }
          &-image {
            width: calc(50% - 5px);
            margin-right: -15px;
          }
        }
      }
    }
  }
}
// 840px
@mixin faq-md-lg-extra {
  .faq {
    &Item {
      &__content {
        &-info {
          margin-bottom: 70px;

          p {
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

// 750px
@mixin faq-sm-md {
  .faq {
    &Item {
      &__content {
        padding-top: 50px;

        &-info {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            &-image {
              order: -1;
              width: 100%;
              max-width: unset;
              margin: 0 0 20px 0;
            }
            p {
              width: 100%;
              font-size: 16px;
              line-height: 22px;
            }
          }
      }
    }
  }
}
// 650px
@mixin faq-sm-md-extra {
  .faq {
    &Item {
      &__button {
        padding: 8px 20px;
        &-text {
          width: 85%;
        }
        p {
          font-size: 17px;
          line-height: 24px;
        }
        span {
          width: 30px;
          height: 30px;
          right: 15px;
        }
      }
      &__content {
        padding-top: 30px;
        &-info {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 40px;
          &-image {
            order: -1;
            width: 100%;
            max-width: 500px;
            margin: 0 0 20px 0;
          }
          p {
            width: 100%;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
// 540px
@mixin faq-xsm-sm {
  .faq {
    &Item {
      &__button {
        padding: 6px 10px;
        p {
          font-size: 16px;
          line-height: 22px;
        }
        span{
            width: 25px;
            height: 25px;
            right: 12px;
        }
      }
      margin-bottom: 15px;
      &__content {
        padding: 10px 15px 0;
        h2 {
            margin-bottom: 30px;
        }
      }
    }
  }
}

// 390px
@mixin faq-xxxsm-xxsm {
  .faq {
    &Item {
        &__button{
            p{
                font-size: 14px;
                line-height: 20px;
            }
        }
      &__content {
          padding: 30px 15px 10px;
        h2 {
          margin-bottom: 20px;
        }
        &-info {
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
