h2 {
    font-size: 29px;
    line-height: 38px;
    color: $black;
    font-weight: 800;
}

p {
    font-weight: 300;

    &.sm {
        font-size: 17px;
        line-height: 22px;
    }
}

main {
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;

    td {
        padding: 9px 28px;
        width: 70%;

        &:nth-child(2) {
            width: 30%;
        }
    }

    tbody {
        tr {
            position: relative;

            &:nth-child(even) {
                &:after {
                    display: none;
                }
            }

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: $gray;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
}

.list {
    margin: 30px 0 130px;

    h2 {
        margin-bottom: 56px;
    }
}

.gallery {
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 44px;

        &:last-child {
            margin-bottom: unset;
        }

        &:first-child {
            margin-bottom: 122px;
        }
    }

    h3 {
        padding: 9px 28px;
        font-weight: 500;
        background-color: $primary;
        margin-bottom: 32px;
        color: $white;
    }

    .galleryItem {
        width: calc(33.3% - 19px);

        &__image {
            position: relative;
            width: 100%;
            padding-bottom: 62%;
            margin-bottom: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        a {
            color: $black;
            font-size: 13px;
        }
    }

    &.sm {
        .gallery {
            &__row {
                margin-bottom: 26px;

                &:last-child {
                    margin-bottom: unset;
                }

                .galleryItem {
                    width: calc(33.3% - 30px);

                    &__image {
                        padding-bottom: 64%;
                        margin-bottom: unset;
                    }
                }
            }

        }
    }
}