.footer {
}
// 750px
@mixin footer-sm-md {
  .footer {
  }
}
// 650px
@mixin footer-sm-md-extra {
  .footer {
  }
}
// 540px
@mixin footer-xsm-sm {
  .footer {
  }
}
// 390px
@mixin footer-xxxsm-xxsm {
  .footer {
  }
}

h2 {
  font-size: 29px;
  line-height: 38px;
  color: $black;
  font-weight: 800;
}
table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 9px 28px;
  }
  tbody {
    tr {
      position: relative;
      &:nth-child(even) {
        &:after {
          display: none;
        }
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $gray;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}

.intro {
  &__inner {
    padding-top: 100px;
    &-info {
      display: flex;
      align-items: flex-end;
      padding: 12px 15px 25px;
      background-color: $gray;
      margin-bottom: 50px;
      h2 {
        margin-bottom: 42px;
      }
      &-image {
        width: 50%;
        max-width: 300px;
        margin-left: 100px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.list {
  h2 {
    margin-bottom: 56px;
  }
}

.faq {
  &__inner {
    .faqItems {
      &__button {
        padding: 10px 28px;
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: $primary;
        color: $white;
        &-text {
          display: flex;
          justify-content: space-between;
          width: 80%;
        }
        span {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          right: 23px;
          transform: translateY(-50%);
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      &__content {
        padding: 106px 28px 20px;
        background-color: $lightBlue;
        &-info {
          display: flex;
          justify-content: space-between;
          margin-bottom: 166px;
          p {
            width: calc(50% - 20px);
            max-width: 670px;
            font-weight: 300;
            letter-spacing: 0.5px;
          }
          &-image {
            width: calc(50% - 20px);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: -28px;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
        h2 {
          margin-bottom: 74px;
        }
      }
    }
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -13px -15px;
  &__item {
    width: calc(33.3% - 30px);
    margin: 13px 15px; 
    &-image {
      position: relative;
      padding-bottom: 63%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
