.footer {
  padding: 50px 0 90px;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 43%;
      height: 1px;
      background-color: $primary;
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 43%;
      height: 1px;
      background-color: $primary;
      transform: translateY(-50%);
    }

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;

      img {
        width: 100%;
      }
    }

    p {
      color: $primary;
      position: absolute;
      top: calc(100% + 15px);
      left: 50%;
      width: 200px;
      transform: translateX(-50%);
    }
  }
}

// 750px
@mixin footer-sm-md {
  .footer {}
}

// 650px
@mixin footer-sm-md-extra {
  .footer {}
}

// 540px
@mixin footer-xsm-sm {
  .footer {}
}

// 390px
@mixin footer-xxxsm-xxsm {
  .footer {}
}

h2 {
  font-size: 29px;
  line-height: 38px;
  color: $black;
  font-weight: 800;
}

table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 9px 28px;
    width: 70%;

    &:nth-child(2) {
      width: 30%;
    }
  }

  tbody {
    tr {
      position: relative;

      &:nth-child(even) {
        &:after {
          display: none;
        }
      }

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: $gray;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}

.intro {
  &__inner {
    padding-top: 100px;

    &-info {
      display: flex;
      align-items: flex-end;
      padding: 12px 15px 25px;
      background-color: $gray;
      margin-bottom: 50px;

      h2 {
        margin-bottom: 42px;
      }

      &-image {
        width: 50%;
        max-width: 300px;
        margin-left: 100px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .list {
    margin: 0 0 90px;
  }
}

.list {
  margin: 30px 0 130px;

  h2 {
    margin-bottom: 56px;
  }
}


.gallery {
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 44px;

    &:last-child {
      margin-bottom: unset;
    }

    &:first-child {
      margin-bottom: 122px;
    }
  }

  h3 {
    padding: 9px 28px;
    font-weight: 500;
    background-color: $primary;
    margin-bottom: 32px;
    color: $white;
  }

  .galleryItem {
    width: calc(33.3% - 19px);

    &__image {
      position: relative;
      width: 100%;
      padding-bottom: 62%;
      margin-bottom: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    a {
      color: $black;
      font-size: 13px;
    }
  }

  &.sm {
    .gallery {
      &__row {
        margin-bottom: 26px;

        &:last-child {
          margin-bottom: unset;
        }

        .galleryItem {
          width: calc(33.3% - 30px);

          &__image {
            padding-bottom: 64%;
            margin-bottom: unset;
          }
        }
      }

    }
  }
}

.info {
  &__inner {
    &-text {
      max-width: 1000px;
      margin-bottom: 55px;
    }

    h2 {
      margin-bottom: 40px;
    }

    p {
      font-weight: 500;
    }
  }
}