.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  &__inner {
    padding: 110px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 116px;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      transition: .3s ease;
      &#headerLogo {
        opacity: 0;
        &.active {
          opacity: 1;
        }
      }
    
      img {
        width: 100%;
      }
    }
  }
}
// 1250px
@mixin header-xlg-xxlg-extra {
  .header {
    &__inner {
      padding: 80px 0;
    }
  }
}
// 1180px
@mixin header-xlg-xxlg {
  .header {
    &__inner {
      padding: 60px 0;
    }
  }
}
// 1024px
@mixin header-lg-xlg {
    .header {
      &__inner {
        padding: 30px 0;
        &-logo {
          top: 20px;
          width: 100px;
        }
      }
    }
}
// 540px
@mixin header-xsm-sm {
    .header {
      &__inner {
          padding: 20px 0;
      }
    }
}
@keyframes sticky {
    0% {
      top: -60px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }