.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  &.sticky  {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   animation-name: sticky;
   animation-duration: .4s;
  }
  &__inner {
    padding: 110px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 116px;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      img {
        width: 100%;
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
    .header {
    
    }
}
// 540px
@mixin header-xsm-sm {
    .header {
    
    }
}
@keyframes sticky {
    0% {
      top: -60px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }