.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba($primary, 0.8);
    transform: translateX(100%);
    @include transition;
    &.active {
        @include transformReset;
    }
    &__inner {
        position: absolute;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: unset;
        align-items: center;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 500px;
        z-index: 1;
        padding: 20px;
        overflow-y: auto;
        transform: translate(-50%, -50%);
        a {
            padding: 5px;
            color: $white;
            font-weight: 300;
            font-size: 20px;
            line-height: 27px;
        }
        li {
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child {
                :last-child {
                    margin: 0;
                }
            }
        }
    }
}
.burger {
    cursor: pointer;
    @include transition;
    position: relative;
    width: 55px;
    height: 40px;
    z-index: 9;
    &:hover {
        opacity: .8;
    }
    &::before {
        top: 0%;
        width: 100%;
        height: 4px;
        background-color: $white;
        transition: all 0.3s ease;
        content: "";
        position: absolute;
        left: 50%;
        @include transformX;
        border-radius: 3px;
    }
    span {
        top: 35%;
        width: 100%;
        height: 4px;
        background-color: $white;
        transition: all 0.3s ease;
        position: absolute;
        left: 50%;
        @include transition;
        border-radius: 3px;
        transform: translate(-50%, -35%);
        &:last-of-type {
            top: 65%;
            transform: translate(-50%, -65%);
        }
    }
    p {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        width: 110%;
        color: $white;
        &.close {
            opacity: 0;
            transition: .3s ease;
            left: -7%;
        }
    }
    &::after {
        bottom: 0%;
        width: 100%;
        height: 4px;
        background-color: $white;
        transition: all 0.3s ease;
        content: "";
        position: absolute;
        left: 50%;
        @include transformX;
        border-radius: 3px;

    }
    &.active {
        &::before {
            width: 125%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%) rotate(35deg);
            transform: translate(-50%, -50%) rotate(35deg);
        }
        span {
            opacity: 0;
        }
        &::after {
            width: 125%;
            bottom: 50%;
            -webkit-transform: translate(-50%, 50%) rotate(-35deg);
            transform: translate(-50%, 50%) rotate(-35deg);
        }
        p{ 
            opacity: 0;
            &.close {
                opacity: 1;
            }
        }
    }
}
// 1024px
@mixin nav-lg-xlg {
    .nav {
        &__inner {

        }
    }
    .burger {
        width: 45px;
        height: 34px;
        &::before {
            height: 3px;
        }
        &::after {
            height: 3px;
        }
        span {
            height: 3px;

        }
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
// 850px max-height
@mixin nav-sm-md-h {
    .nav {
        &__inner {
            top: 60%;
        }
    }
}
// 600px max-height
@mixin nav-sm-md-h-extra {
    .nav {
        &__inner {
            a {
                font-size: 15px;
                line-height: 18px;
            }
            li {
                margin-bottom: 5px;
            }
        }
    }
}
// 500px max-height
@mixin nav-xsm-sm-h {
    .nav {
        &__inner {
            position: unset;
            transform: translate(0);
            margin: 170px auto 50px;
            height: 170px;
            padding: 0;
        }
    }
}